{% extends 'base.html' %} 
{% load extra_tags %}
{% load markup questionnaire i18n %}

{% block headextra %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery-jvectormap.css"></script>
<script src="{{ STATIC_URL}}js/vendor/jquery-jvectormap.js"></script>
<script src="{{ STATIC_URL}}js/vendor/jquery-jvectormap-world-en.js"></script>

{% endblock %}

{% block content %} 
<div id="world-map" style="text-align: center; width: auto; margin: auto; height: 600px"></div>
<script type="text/javascript">
$(function(){
    $('#world-map').vectorMap({
        color: "#b2afa7",
        backgroundColor: "#FFFFFF",
        colors: {US: '#FF0000'}
        
    });
});
</script>
{% endblock %}